.navbar {
  background-color: yellow;
  padding: 15px;
  font-family: Arial;
}

.navbar a {
  text-decoration: none;
  color: purple;
  padding: 5px 10px;
}

.active {
  background-color: #5d3fd3;
  color: white !important;
}